<nav class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top container-fluid mb-3 justify-content-between bg-light">
    <a class="navbar-brand my-0 py-0 col-2" href="/"><img src="/media/photos/static/kawaii_logo.png" height="50" alt="Kawaii logo"></a>
    <div class="pl-auto col-4">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'news' %}">Home <span class="sr-only"></span></a>
          </li>
                     
        </ul>
      </div>
    </div>
  </nav>